<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="eu.scasefp7.eclipse.category"
            name="%category.name">
      </category>
      <wizard
            category="eu.scasefp7.eclipse.category"
            class="eu.scasefp7.eclipse.umlrec.ui.wizard.MyWizard"
            icon="images/s-case.png"
            id="eu.scasefp7.eclipse.umlrec.importWizard"
            name="%wizard.name">
      </wizard>
   </extension>
</plugin>
